html, body {
    max-width: 100%;
    margin: 0;
    height: 100%;
    font-family: Poppins,sans-serif;
    scroll-behavior: smooth;
}

#preloader{
    position:fixed;
    width:100%;
    background:#fff url('../res/a.gif') no-repeat center;
    height:100vh;
    z-index:9999;
}

/*about styling*/
#about {
    display: flex;
    width: 100%;
}
#imgAbt {
    width: 50%;
}
#paraAbt {
    width: 50%;
    background-color: 
    whitesmoke;
}
#about {
    display: flex;
    width: 100%;
    height: 90vh;
}
#cntnAbt {
    margin-top: 10%;
}
#cntnAbt p {
    font-size: 15px;
    line-height: 32px;
    padding: 0px 50px;
}

#headAbt p {

    font-size: 30px;
    font-weight: 400;
    padding: 15px 50px;
}
#imgAbt img {
    width: 100%;
    height: 100%;
    max-width: 100%;
}
/*ends here*/
header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 9998;
    transition: all 0.3s ease-out;
}
.nav-colored{
background-color:black;  
}
nav-transparent{
 background-color:transparent;     
}
.navbar-toggle {
    display: none;
}
#home {
    height: 100%;
    width: 100%;
}
ul {
    list-style: none;
    float: right;
}
#profile {
    float: left;
    margin: 10px 0px;
    width: 25%;
}
#profile img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    max-width:100%;
    cursor: pointer;
    border: 1px solid lightgray;
}

.headerDiv {
    margin: 0 auto;
    width: 90%;
}
.headerDiv nav{
    float:left;
    width: 75%;
}
.headerDiv nav li {
    padding: 5px 11px;
    float: left;
}

#pnlMask {
    opacity: 0.5;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:black;
    z-index: 1001;
    left: 0;
    top: 0;
}
nav li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-family: sans-serif;
    font-family: poppins;
    font-weight: 1000;
    transition: 0.3s font-size ease-in;
}
nav li a:hover {
    font-size: 14px;
    border-bottom: 2px solid  teal;
}
.auto-write {
    margin: 0 auto;
    position: absolute;
    z-index: 9997;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 70%;
    text-align: center;
}

.auto-write p {
    color: white;
    font-size: 1rem;
    letter-spacing: 4px;
    text-align: center;
} 
   
#innerTyping {
    color: 
    white;
    letter-spacing: 5px;
    font-size: 50px;
    line-height: 55px;
    font-weight: 500;
}
.typed-cursor,.typed-cursor--blink{
  color:white;
   font-size: 50px; 
}
.home-section{
    background: url("../res/bg_1398.jpg") no-repeat;
    height: 100%;
    background-size: cover;
      max-width: 100%;
  }

///////////////*mobile styles*////////////////////////////////////

@media screen and (max-width:1000px){
    #innerTyping{
    color: white;
    letter-spacing: 3px;
    font-size: 33px;
    }
  }
@media screen and (max-width:867px){
   .home-section{
    background: url("../res/bg_700.jpg") no-repeat;
    height: 100%;
    background-size: cover;
         max-width: 100%;
    }
    nav ul{
       padding: 0px; 
       overflow: hidden;
      
    }
   nav ul.open {
overflow: hidden;
height: auto;
width: 137%;
background-color:
black;
position: relative;
z-index: 9999;
}
    .liopen {
    float: none;
    }
    .liopen:hover {
    background-color: 
    teal;
    border-bottom: none;
}
    #innerTyping{
    color: white;
    letter-spacing: 3px;
    font-size: 25px;
    }
    .typed-cursor,.typed-cursor--blink{
  color:white;
   font-size: 25px; 
}
    
    /*Queries for Mobiles*/
    
    
    
}

@media screen and (max-width:700px){
    
    #innerTyping{
    color: white;
    letter-spacing: 3px;
    font-size: 19px;
    }
     .typed-cursor,.typed-cursor--blink{
  color:white;
   font-size: 19px; 
}
    .home-section{
    background: url("../res/bg_700.jpg") no-repeat;
    height: 100%;
    background-size: cover;
    max-width: 100%;
    }
    
    .navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 12px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    display: block;
    cursor:pointer;
    }
    
    .navbar-toggle .icon-bar {
    background: #f8f8f8;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    margin-bottom: 4px;
    }

    nav ul{
       padding: 0px!important; 
       overflow: hidden;
       height:0;
    }
     .liopen {
    float: none !important;
    }
    .liopen:hover {
    background-color: 
    teal;
    border-bottom: none !important;
}
   nav ul.open {
overflow: hidden;
height: auto;
width: 137%;
background-color:
black;
position: relative;
z-index: 9999 !important;
} 
   .auto-write p {
    color: white;
    font-size: 10px;
    letter-spacing: 4px;
    text-align: center;
    }


}

@media screen and (max-width:480px){
    
    .home-section{
    background: url("../res/bg_480.jpg") no-repeat center;
    height: 100%;
    background-size: cover;
    max-width: 100%;
    }
    
    .burger-nav{
    background: url(../res/burger.png) no-repeat 98% center;
    height:40px;
    width:100%;
    display: block;
    }
    
    nav ul{
       padding: 0px!important; 
       overflow: hidden;
       height:0;
    }
     .liopen {
    float: none !important;
    }
    .liopen:hover {
    background-color: 
    teal;
    border-bottom: none !important;
}
    nav ul.open {
overflow: hidden;
height: auto;
width: 137%;
background-color:
black;
position: relative;
z-index: 9999 !important;
}
   .auto-write p {
    color: white;
    font-size: 10px;
    letter-spacing: 4px;
    text-align: center;
    }
    
    #innerTyping{
    color: white;
    letter-spacing: 2px;
    font-size: 15px;
     }
     .navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 12px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    display: block;
    }
    
    .navbar-toggle .icon-bar {
    background: #f8f8f8;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    margin-bottom: 4px;
    }
    
    
    /*Queries for Mobiles*/
    
    
    
    #about {
    display: flex;
    width: 100%;
    height: 90vh;
    flex-direction: column;
}
    #imgAbt {
    height: 70%;
    width:100%;
}
    #imgAbt img {
    width: 100%;
    height: 100%;
    max-width: 100%;
}
    #paraAbt {
    background-color: 
    whitesmoke;
    height: auto;
        width:100%;
}
    #cntnAbt p {
   font-size: 10px;
    line-height: 32px;
    padding: 0px 50px;

}
#headAbt p {
    font-size:20px;
    font-weight: 400;
    padding:15px 50px;
}

#cntnAbt {
    margin-top: 10%;
}
   #innerTyping{
    color: white;
    letter-spacing: 3px;
    font-size: 15px;
    }
     .typed-cursor,.typed-cursor--blink{
  color:white;
   font-size: 15px; 
}
}